<div class="container" style="margin: 50px;">
    <div class="row">
        <h1>Hola {{persona}}!</h1>
    </div>
    <div class="row" style="margin: 20px;">
        <div >
            <a class="btn btn-success" href="/admin/consejosAdmin/inicio"><i class="bi bi-arrow-bar-right">Consejos</i></a>
        </div>
        <div>
            <a class="btn btn-success" href="/admin/experiencias-admin/inicio"><i class="bi bi-arrow-bar-right">Experiencias</i></a>
        </div>
    </div>
    <div>
        <a type="button" class="btn btn-outline-danger" href="/admin/login/logout">CERRAR SESION</a>
    </div>
</div>