<h1>BIENVENID@S</h1>
<div class="container" style="margin:50px; padding: 15px;">
    <div class="row" style="background-color: rgba(253, 166, 51, 0.633);">
        <form action="/admin/login" method="post">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="text" class="form-control" id="exampleInputUser" name="usuario">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Ingresar</button>
        </form>

        {{#if error}}
        <p>Usuario y/o contraseña incorrectos</p>
        {{/if}}
    </div>
</div>