:root {
  --color1: rgb(69, 25, 82);
  --color2: rgb(102, 37, 73);
  --color3: rgb(174, 68, 90);
  --color4: rgb(243, 159, 90);
}


.consejos {
  width: 90%;
  text-align: center;
  font-family: "Exo 2", sans-serif;
  background-color: rgb(202, 202, 202);
}

.caja{
  border-bottom: solid var(--color4);
    height: auto;
    margin: 0px; 
}

.conteiner1{
  h2 {
    font-family: "Caveat", cursive;
    font-size: 50px;
    margin: 0px;
    color: var(--color1);
  }
  h3{
    text-align: center;
    color: var(--color2);
    margin-top: 0;
    font-family: "Satisfy", cursive;
  }
  .p {
    margin: 20px;
    padding-bottom: 100px;
    color: var(--color1);
    font-family: "Exo 2", sans-serif;
    font-weight: 80px;

  }

}
